<h3><%= @product.title %></h3>
<p><%= @product.description %></p>
<p>$<%= @product.price %></p>
<p>Category: <%= @product.category.name %></p>
<p><strong>Tags: </strong> <%= @product.tag_list %></p>
<p>Contributor: <%= (User.find_by_id(@product.user_id)).full_name %></p>
<hr style="background:#DDDDDD; border:0; height:7px" />

<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Destroy', product_path(@product), method: :delete %>
<!-- <p><strong>Contributor: </strong> <%#= @product.user&.full_name %></p> -->
<div class="favourite-widget">
  <% if user_signed_in? && can?(:favourite, @product) %>
    <% if @favourite.present? %>
      <%= link_to fa_icon('thumbs-down lg'), favourite_path(@product, @favourite), method: :delete %>
    <% else %>
      <%= link_to fa_icon('thumbs-up lg'), product_favourites_path(@product), method: :post %>
    <% end %>
  <% end %>
  <%= pluralize @product.favourites.count, 'favourite' %>
</div>

<hr style="background:#DDDDDD; border:0; height:7px" />
<div>
  <h3>Add a Review </h3>
  <%= form_for([@product, @review]) do |f| %>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div>
      <%= f.label :rating %>
      <%= f.select :rating, [5,4,3,2,1] %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
<hr style="background:#F87431; border:0; height:7px" />
<div>
  <% @product.reviews.each do |review| %>
    <div class="voting-widget">
      <% vote = review.votes.find_by(user: current_user) %>
      <% if vote.nil? %>
        <%= link_to fa_icon('arrow-up'),
          review_votes_path(review,  {is_up: true}),
          method: :post %>
        <div><%= review.vote_total %></div>
        <%= link_to fa_icon('arrow-down'),
          review_votes_path(review,  {is_up: false}),
          method: :post %>
      <% elsif vote.is_up? %>
        <%= link_to fa_icon('arrow-up'),
          vote_path(vote),
          method: :delete,
          class: 'active' %>
        <div><%= review.vote_total %></div>
        <%= link_to fa_icon('arrow-down'),
          vote_path(vote, {is_up: false}),
          method: :patch %>
      <% else %>
        <%= link_to fa_icon('arrow-up'),
          vote_path(vote, {is_up: true}),
          method: :patch %>
        <div><%= review.vote_total %></div>
        <%= link_to fa_icon('arrow-down'),
          vote_path(vote),
          method: :delete,
          class: 'active' %>
      <% end %>
    </div>

    <div>
      <p><%= review.body %></p>
      <div class="like-widget">
        <% if user_signed_in? && can?(:like, review) %>
          <% if review.likes.find_by_user_id(current_user).present? %>
            <%= link_to fa_icon('heart lg'), review_like_path(review, review.likes.where(user: current_user).first), method: :delete %>
          <% else %>
            <%= link_to fa_icon('heart-o lg'), review_likes_path(review), method: :post %>
          <% end %>
          (<%= pluralize review.likes.count, 'like' %>)
        <% end %>
      </div>
      <p>Rating: <%= review.rating %></p>

      <p>Commentor: <%= User.find_by_id(review.user_id).full_name %></p>
      <p><%= link_to 'Delete', review_path(@product, review),
              method: :delete, data: { confirm: 'Are you sure?'} %>
      </p>
    </div>
    <hr style="background:#F87431; border:0; height:7px" />
  <% end %>
</div>
